In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [2]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       7.936641    False          30          1             38.0
1       8.624484     True          34          1             39.0
2       6.937947     True          23          1             39.0
3       6.935743     True          18          1             39.0
4       8.318041    False          23          1             40.0

In [3]:
df.describe()

       weight_pounds  mother_age     plurality  gestation_weeks
count    9995.000000  10000.0000  10000.000000      9885.000000
mean        7.263349     27.1810      1.035300        38.705311
std         1.315565      6.1537      0.196616         2.567750
min         0.507063     12.0000      1.000000        18.000000
25%         6.624891     22.0000      1.000000        38.000000
50%         7.374463     27.0000      1.000000        39.000000
75%         8.062305     32.0000      1.000000        40.000000
max        12.625874     48.0000      4.000000        47.000000

In [4]:
df['is_male'].value_counts()

True     5198
False    4802
Name: is_male, dtype: int64

In [5]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [6]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)

In [7]:
x,y = data,labels
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [8]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(len(x_train.iloc[0]),)),
    Dense(32, activation='relu'),
    Dense(1)]
)